.register {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, #70999c73, #636e5093),
    url(https://cdn.shopify.com/s/files/1/0596/1678/8676/files/slide3.jpg?v=1630374758);
}
