.banner {
  background-image: url(https://cdn.shopify.com/s/files/1/0596/1678/8676/files/slide9.jpg?v=1630552997);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.text-color {
  color: rgb(39, 22, 22);
}

.text2-color {
  color: rgb(92, 77, 76);
}

.highlight-text {
  color: rgb(247, 184, 10);
}
